.custom-select-container {
    position: relative;
    box-sizing: border-box;
}

.custom-select-panel::-webkit-scrollbar {
    background-color: var(--canvas);
    width: 5px;
    border-radius: 10px;
}
.custom-select-panel::-webkit-scrollbar-thumb {
    background-color: var(--ochre);
    border-radius: 10px;
    width: 5px;
}
.custom-select-panel::-webkit-scrollbar-track {
    border-radius: 10px;
}

.custom-select-container.is-disabled {
    opacity: .333;
}

.custom-select-opener {
    border: 1px solid var(--ochre);
    background-color: var(--rye);
    padding: 20px;
    display: block;
    cursor: pointer;
    width: 100%;
    line-height: 150%;
    font-size: 1.25rem;
}
.custom-select-opener::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    width: 16px;
    height: 16px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgaWQ9IkFycm93X2Ryb3BfbGVmdCI+CjxwYXRoIGlkPSJWZWN0b3IgMTAiIGQ9Ik03Ljc4OCAxMS42NjA4TDMuNzY1IDUuMjI0QzMuNDMxOTggNC42OTExNiAzLjgxNTA1IDQgNC40NDM0IDRMMTEuNTU2NiA0QzEyLjE4NDkgNCAxMi41NjggNC42OTExNiAxMi4yMzUgNS4yMjRMOC4yMTIgMTEuNjYwOEM4LjExNDA4IDExLjgxNzUgNy44ODU5MiAxMS44MTc1IDcuNzg4IDExLjY2MDhaIiBmaWxsPSIjMzAzMDMwIi8+CjwvZz4KPC9zdmc+Cg==);
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.custom-select-opener:hover {
    color: var(--ochre)
}

.custom-select-container select {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.custom-select-panel {
    max-height: 0;
    overflow: hidden;
    background-color: var(--rye);
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: 100%;
    transform: translateY(1px);
}

.custom-select-container.is-open .custom-select-panel {
    max-height: 10.7em;
    overflow-y: auto;
    border: 1px solid var(--ochre);
    /* border-top: none; */
}

.custom-select-option {
    padding: 10px 20px;
}
.custom-select-option:first-child {
    display: none;
}

.custom-select-option.has-focus {
    color: var(--ochre)
}

.custom-select-optgroup > .custom-select-option {
    padding-left: 2em;
}

.custom-select-optgroup::before {
    content: attr(data-label);
    display: block;
    padding: 0.5em;
    color: #888;
}